.container {
	display: flex;
	flex-direction: column;
	min-width: 640px;
	min-height: 100vh;
}

.content {
	flex-grow: 1;
}

.footer {
	border-top: 1px solid gray;
	margin-top: 20px;
	padding: 8px;
	display: flex;
}

.footer .copyright {
	flex-grow: 1;
}

.footer .repository {
	flex-grow: 0;
}

@media (prefers-color-scheme: light) {
	.title {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	.title {
		color: white;
	}
}

.title {
	text-decoration: none;
}

.title:hover {
	text-decoration: underline;
}

.summary {
	display: flex;
	padding: 0 20px;
}

.summary dt {
	display: inline;
	flex: 1;
}

.summary dd {
	display: inline;
	flex: 0;
}
